.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    grid-auto-rows: 20px;
    column-gap: 0.2vmax;
    row-gap: 0.2vmax;
  }
  .wrapper div {
    background-color: white;
    border: 1px solid;
  }
  .wrapper div:hover {
    background-color: green !important;
  }
  div#rand_nums_container {
    margin-top: 10px;
  }